body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1;
}

/* Header Start*/
.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.lnk{
  padding-left: 10px;
  padding-top: 10px;
}
.lnk:link{
  color:black;
}
.panel{
  display: block;
}

.icon-left{
  display: inline;
  float: left;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.icon-left:link{
  color: black;
}
/* Header End */

.sign_in{
  background-color: #2ca3cb;
  text-align: center;
  float: right;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  width: 71px;
  height: 30px;
  padding: 0px 12px;
  float: right;
  margin: 5px 10px;
}

.icon{
  display: inline-block;
}

.icon:hover{
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
}

.headerli{
  float: right;
}

.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;

}

.feelinglucky {
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  margin-left: -8px;
  line-height: 10px;
}

.footerli {
  float: left;
  text-align: center;
}

.down{
  position: absolute;
  bottom: 0%;
  line-height: 10px;
}

.gray{
  background: rgb(247, 247, 247);
  border: none;
}

.inline-block{
  display: inline;
}

.right{
  position: fixed;
  right: 0%;
}

.left{
  position:fixed;
  left : 0% ;
}
.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}

.buttons{
  margin: 0 40%;
  width: 50%;
  padding: 10px;
}

